body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #FFE8D1;
}

header {
    margin-top: 3em;
    text-align: center;
    color: #FDFDFD;
}

header h1 {
    font-style: 2em;
    font-weight: 800;
}

#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
}